# Fichiers binaires
*.out
*.o
*.a
*.so
*.exe
minishell
minishell_tester/

# heredoc temp files
*.tmp

#executable
*.out

#test_file
*.test
*.txt

# Dossiers de compilation
/build
/bin
/.objs

# Core dumps
*.core

# Fichiers temporaires
*~
*.swp
*.tmp

# Fichiers générés par Make
Makefile~
.deps/
*.d

# Éditeurs
.vscode/
.idea/
*.code-workspace

# OS spécifiques
.DS_Store         # macOS
Thumbs.db         # Windows

# Logs
*.log

# CTags
tags

# Autres
*.bak
